body {
    margin: 50px;
}

.header {
    margin-bottom: 10px;
    text-align: center;
}

.game:focus {
    outline: none;
}

.moves {
    margin:10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.moves p {
    font-size: 20px;
}

.moves p i {
    font-size: 16px;
}
.moves strong {
    text-align: center;
    padding-right: 10%;
}

.board-container {
    margin: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    background-color: whitesmoke;
    padding: 10px;
    width: 500px;
   
}

.column {
    height : 100px;
    width: 25%;
    border-right : 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 20px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}